.goutputstream*
*~
*.old
quiki
quiki.exe
quiki.conf
templates/*
!templates/default
wikis/*
!wikis/mywiki
.DS_Store
standalone/standalone
irc/irc
irc/irc.exe
monitor/monitor
markdown/markdown
quiki-auth.json
auth.json