/* QUIKI WEBSERVER CONFIGURATION */


/* Directories-- */

@repo: .;   /* set this variable to the absolute path of the quiki repository */
@server.dir.static:     [@repo]/webserver/static;     /* static files that ship with quiki */
@server.dir.template:   [@repo]/webserver/templates;  /* comma-separated template search paths */
@server.dir.adminifier: [@repo]/adminifier;           /* static files for adminifier */
@server.dir.wiki:       [@repo]/wikis;                /* where your site directories are located */


/* HTTP server bindings-- */

@server.http.bind: ;          /* leave blank to listen on all available addresses */
@server.http.port: 8080;      /* port number or "unix" to listen on UNIX socket */


/* pregeneration--

   if enabled, quiki generates all pages and images at startup; then monitors for
   changes as they occur. when disabled, quiki only generates content as it is requested
   by clients. having this on makes pages load much faster. */

@server.enable.pregeneration;


/* adminifier--

   this is quiki's web based admin panel and editor. you can use a single instance to
   manage all the sites on this quiki webserver. */

@adminifier.enable;           /* whether to enable adminifier */
@adminifier.host: ;           /* HTTP host for adminifier. leave blank to use all hosts */
@adminifier.root: /admin;     /* HTTP root for adminifier. leave blank to use /         */


/* WEBSITE CONFIGURATIONS --

   you can configure any number of wiki sites to be served by this quiki.
   below is the working configuration for the included example site.
   the shortcode (in this case, 'mywiki') will only appear in logs/debug info */

@server.wiki.mywiki: {

    /* each wiki requires its own configuration file, specified here. see
       wikis/mywiki/wiki.conf for an example wiki configuration.
       note: this can be omitted and inferred if the config is at
       @server.dir.wiki/<shortcode>/wiki.conf
    config: [@repo]/wikis/mywiki/wiki.conf; */
    
    /* optionally set this to the host to serve this wiki on, according to the HTTP
       Host header. this overrides the @host.wiki setting in the wiki config file.
       if neither specified, the wiki is accessible from all hosts.
    host: mywiki.com; */

};

/* tells the server to enable mywiki. */
@server.wiki.mywiki.enable;
