/* QUIKI CONFIGURATION */

/* @repo, the path to the quiki repository, is used in other config options
   below. if you used the `go` tool to install quiki, just set @gopath to your
   GOPATH, and the below @repo will be accurate. */
@gopath:    /home/someone/go;
@repo:      [@gopath]/src/github.com/cooper/quiki;

/* or this is fine if running from the repo */
@repo: .;

/* other directory paths. the defaults below will work as long as @repo is
   accurately set to the path of the quiki repository. */
@server.dir.static:     [@repo]/webserver/static;
@server.dir.template:   [@repo]/webserver/templates;
@server.dir.wiki:       [@repo]/wikis;

/* HTTP server port to listen on. @server.http.bind can also be specified for
   a bind address, but quiki will use all addresses if unspecified. */
@server.http.port: 8080;


/* WIKISERVER CONFIGURATION */

/* if enabled, the wikiserver will watch page files for changes and generate
   them immediately. it is recommended that you leave this as-is because it
   significantly decreases page load time. */
@server.enable.pregeneration;


/* WIKI CONFIGURATIONS --
   you can configure any number of wikis to be served by this quiki */

/* working configuration for the included example wiki --
   the wiki shortcode (in this case, 'mywiki') will only appear in logs/debug info */
@server.wiki.mywiki: {

    /* each wiki requires its own configuration file, specified here. see
       wikis/mywiki/wiki.conf for an example wiki configuration.
       note: this can be omitted and inferred if the config is at
       @server.dir.wiki/<shortcode>/wiki.conf
    config: [@repo]/wikis/mywiki/wiki.conf; */
    
    /* optionally set this to the host to serve this wiki on, according to the HTTP
       Host header. this overrides the @host.wiki setting in the wiki config file.
       if neither specified, the wiki is accessible from all hosts.
    host: mywiki.com; */

};

/* tells the server to enable mywiki. */
@server.wiki.mywiki.enable;
