table.file-list {
    /*table-layout: fixed;*/
    border-collapse: collapse;
    width: 100%;
    position: relative;
}

/* all cells */

table.file-list td {
    border: 1px solid #ccc;
    padding: 8px;
    height: 22px;
    text-align: left;
    white-space: nowrap;
}

table.file-list td.checkbox,
table.file-list th.checkbox {
    width: 20px;
    text-align: center;
}

table.file-list td.info,
table.file-list th.info {
    text-align: right;
    max-width: 200px;
}

table.file-list td.info {
    font-size: 85%;
}

table.file-list th.title,
table.file-list td.title {
    width: 99%;
    max-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* head cells */

table.file-list thead tr:first-child {
    opacity: 0;
    position: fixed;
}

table.file-list thead th {
    background-color: #696969;
    color: #E2E2E2;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    padding: 8px;
    height: 22px;
    border: 1px solid #696969;
    text-align: left;
    font-size: 16px;
    line-height: 22px;
}

table.file-list thead th a {
    color: #E2E2E2;
}

/* body cells */

table.file-list tbody tr {
    background-color: #fff;
}

table.file-list tbody tr:nth-child(even) {
    background-color: #eee;
}

table.file-list span.file-info {
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 0 8px;
    float: right;
    background-color: #999;
    color: #fff;
    border-radius: 3px;
    padding: 2px 4px;
    line-height: 18px; /* 22px - 2(2px padding) */
}

table.file-list span.file-info.error {
    background-color: #D45D5D;
}

table.file-list span.file-info.warnings {
    background-color: #ccaf3b;
}

table.file-list span.file-info.redirect {
    background-color: #2da7ed;
}

table.file-list span.file-info.external {
    background-color: #b58bfc;
}

table.file-list span.file-preview {
    font-size: 0.8em;
    color: #666;
    margin: 0 0 0 8px;
}

/* toolbar */

ul.file-list-toolbar li {
    float: left;
    padding: 0 10px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
}

ul.file-list-toolbar li.right {
    float: right;
    text-align: right;
    direction: rtl;
}

ul.file-list-toolbar li.disabled {
    color: #aaa;
    cursor: default;
}

/* filter editor */

.filter-editor {
    background-color: #696969;
    color: rgb(226, 226, 226);
    overflow-x: hidden;
    position: fixed;
    right: 0px;
    top: 40px;
    bottom: 0px;
    width: 250px;
}

.filter-editor-title, .filter-row span {
    height: 22px;
    color: #E2E2E2;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    display: block;
}

.filter-editor-title {
    padding: 9px;
    background-color: #333;
}

.filter-editor-title a {
    color: inherit;
    float: right;
    line-height: 22px;
}

.filter-row {
    padding: 10px;
    font-size: small;
}

.filter-row input[type=text] {
    height: 24px;
    padding: 0 5px;
    border: none;
    margin: 5px 0;
    width: 200px;
    width: calc(100% - 40px);
    background-color: #eee;
    color: #111;
}

.filter-row:nth-child(even) {
    background-color: #777;
}

.filter-row-inner {
    display: none;
    padding-top: 8px;
}

.filter-item {
    margin-top: 8px;
}

.filter-row-inner i[class~="fa-minus-circle"],
.filter-row-inner i[class~="fa-plus-circle"] {
    cursor: pointer;
}

#file-delete-button:hover {
    background-color: #D45D5D;
}