.image-grid {
}

.image-grid-item {
    padding: 5px;
    background-color: #eee;
    border: 1px solid #ddd;
    margin: 15px;
    display: inline-block;
}

.image-grid-item img {
    max-width: 250px;
    max-height: 250px;
    margin-bottom: 5px;
    background: url(../images/image-alpha-grid.png) center repeat;
    display: block;
}

@media all and (-webkit-min-device-pixel-ratio : 1.5),
 all and (-o-min-device-pixel-ratio: 3/2),
 all and (min--moz-device-pixel-ratio: 1.5),
 all and (min-device-pixel-ratio: 1.5) {
    .image-grid-item img {
        background: url(../images/image-alpha-grid@2x.png) center repeat;
        background-size: 250px 250px;
    }
}
