#navigation-sidebar {
    float: left;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 170px;
    background-color: #333;
    color: #fff;
    z-index: 200;
}

#navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-top: 60px;
}

#navigation li {
    padding: 0;
    margin: 0;
    height: 38px;
    white-space: nowrap;
    position: relative;
}

#navigation li a {
    padding-left: 16px;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    height: 38px;
    line-height: 38px;
    width: 100%;
    width: calc(100% - 16px);
    white-space: nowrap;
    overflow: hidden; /* changed later dynamically */
}

#navigation li:hover {
    background-color: #444;
}

#navigation li.active {
    background-color: #2096ce;
}

div.navigation-popover {
    position: absolute;
    width: 0px;
    height: 38px;
    top: 0px;
    left: 50px;
    background-color: #444;
    z-index: 300;
    overflow: hidden;
    padding-left: 10px;
}

#top-bar {
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #555;
    z-index: 300;
}

#top-bar span.top-title {
    height: 40px;
    font-size: 18px;
    color: #fff;
    line-height: 40px;
    float: left; /* fixes chrome */
}

#top-bar span.wiki-title {
    display: inline-block;
    min-width: 140px;
    max-width: 300px;
    font-weight: 600;
    padding-left: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#top-bar span.page-title {
    font-weight: 300;
    font-size: 120%;
    padding-left: 16px;
}

#top-bar span.account-title {
    font-size: 90%;
    font-weight: 400;
    float: right;
    padding-right: 16px;
}

#top-bar span.top-button {
    font-size: 90%;
    font-weight: 400;
    float: right;
}

#top-bar span.top-button.action {
    background-color: #333;
}

#top-bar span.top-title a {
    height: 100%;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

#top-bar span.top-title:not(#breadcrumbs) a {
    padding: 0 10px;
}

#top-bar span.top-title a:hover {
    background-color: #696969;
}

#top-bar span.top-title.active a {
    background-color: #2096ce;
}

#top-search {
    float: right;
    height: 24px;
    padding: 0 5px;
    border: none;
    margin: 8px;
    background-color: #696969;
    color: #fff;
    width: 150px;
    display: none;
}

#top-search::placeholder {
    opacity: 1;
    color: #ccc;
}

/* for some reason these have to be separate */
#top-search::-ms-input-placeholder {
    opacity: 1;
    color: #ccc;
}

#top-search.invalid {
    background-color: #AB3F3F;
}

#content {
    margin-top: 40px;
    margin-left: 170px;
    padding: 20px;
}

#content.no-margin {
    padding: 0 !important;
}

#breadcrumbs i {
    position: relative;
    top: 2px;
}